@import url("https://fonts.googleapis.com/css2?family=Peralta&family=Roboto+Mono:wght@300;400;500&display=swap");

/*
font-family: 'Peralta', cursive;
font-family: 'Roboto Mono', monospace;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
      179.88deg,
      rgba(4, 87, 87, 0) 33.39%,
      rgba(4, 87, 87, 0.729233) 81.9%,
      #045757 99.91%
    ),
    #e4e4e4;
  background-repeat: no-repeat;
}

button {
  background-color: #e4e4e4;
  color: #222;
  cursor: pointer;
}

.text {
  font-family: "Roboto Mono", monospace;
  color: #e4e4e4;
  font-weight: 300;
}

.Header {
  margin-top: 5%;
}

.Header h1 {
  font-family: "Peralta", cursive;
  text-align: center;
  font-size: 7vw;
  font-weight: 400;
  color: #222;
}

.Form-wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form-wrapper input {
  margin-right: 2%;
  padding: 1% 1.5%;
  font-size: 2.5vw;
  background: #045757;
  border: none;
}

.Form-wrapper button {
  padding: 0.5% 2%;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 2.3vw;
  border: 0.5vw solid #045757;
}

.TodoList-wrapper {
  width: 50vw;
  height: 50vh;
  overflow: scroll;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2vh;
}

.Todo-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5%;
  padding: 3% 3.5%;
  background-color: #044043;
}

.Todo-wrapper.complete {
  opacity: 0.75;
}

.Todo-name {
  font-size: 2vw;
  flex: 2;
}

.important p {
  font-weight: 500;
}

.complete p {
  text-decoration: line-through;
}

.Todo-button {
  padding: 2% 2.5%;
  border: none;
  font-size: 1.8vw;
}

@media (orientation: portrait) {
  .Header h1 {
    font-size: 10vw;
  }
  .Form-wrapper input {
    margin-right: 1%;
    font-size: 4.5vw;
  }
  .Form-wrapper button {
    font-size: 4.3vw;
  }
  .TodoList-wrapper {
    width: 70vw;
    height: 68vh;
  }
  .Todo-name {
    font-size: 4vw;
  }
  .Todo-button {
    font-size: 3.8vw;
  }
}
